.navbar {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  .logo {
    max-width: 100%;
  }
  ul {
    display: grid;
    gap: 20px;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);

    li {
      background-color: rgba($dark, 0.9);
      a {
        box-shadow: $shadow;
        padding: 0.8rem;
        text-align: center;
        color: $light;
        display: block;
        text-transform: uppercase;
        font-size: 1.1rem;
        text-decoration: none;
        &.active {
          color: $secondary;
        }
        &:hover {
          span {
            border-bottom: 1px solid $secondary;
          }
        }
      }
    }
  }
}
