.search_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  &.pokemonA {
    grid-area: pokemonA;
  }
  &.pokemonB {
    grid-area: pokemonB;
  }
}

.search_box {
  margin-top: 10px;
  font-size: 20px;
  border: 1px solid $primary;
  padding: 8px 16px;
  outline: none;
}

.data_list {
  width: 100%;
  position: absolute;
  top: 100%;
  border: 1px solid $primary;
  max-height: 300px;
  overflow-y: scroll;

  .data_row {
    padding: 4px 16px;
    border: 1px solid $primary;
    background-color: $light;
    color: $dark;
    &:hover {
      background-color: $primary;
    }
  }
}
