.search_container {
  display: flex;
  column-gap: 12px;
}
.search_wrapper {
  display: flex;
  flex-direction: column;
}

.search_box {
  border-radius: 5px 5px 0 0;
  border: 1px solid #cdcdcd;
  padding: 8px 16px;
  outline: none;
  &[value=""] {
    border-radius: 5px;
  }
}

.data_list {
  border: 1px solid #cdcdcd;
  border-radius: 0 0 5px 5px;
  .data_row {
    padding: 0 16px;

    &:hover {
      background-color: #cdcdcd;
    }
  }
}
